venv/
venv313/
venv310/
.env
__pycache__/
*.pyc
data/session_uploads/
data/session_index/
results/raw_outputs/
.vscode/
*.log
vncorenlp_models/
data/corpus/normal_vinamilkbaocao2024_96tr.pdf
results/debug_retrieval/

data/corpus/normal_lichsudang_C1&2_60tr.pdf

# Tài liệu chưa rõ bản quyền, chỉ dùng cục bộ
data/corpus/normal_lichsudang_C1&2_60tr.pdf
data/corpus/tests/normal_lichsudang_114tr.pdf
